body {
    font-family: 'vanta';
    margin: 0 auto;
}

a {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'vanta';
}

h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

form input {
    color: #fff;
}

.wrap {
    font-family: 'vanta';
}

.header {
    font-family: 'vanta';
    text-align: center;
    background-image: url('../img/bg_header.png');
}

.header img.logo {
    margin-top: 1%;
    margin-left: -20%;
}

.header h1 {
    font-family: 'Europe';
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.header h1 strong {
    font-size: 127%;
    font-weight: bold;
}

.header a.langv {
    top: 3%;
    right: 20%;
    position: absolute;
    z-index: 9999;
}

.header a.langv img {
    margin-right: 20px;
}

.header form {
    color: #fff;
}

.header form input#name {
    margin-left: 8%;
}

.header form input {
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    padding-left: 2%;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
}

.header form input#phone {
    margin-right: 4%;
}

.header #button {
    font-size: 1em;
    font-weight: bold;
    padding: 1% 5%;
    text-align: center;
    color: #fff;
    border: #9900c1;
    border-radius: 25px;
    background: #9900c1;
}

.header #button:hover {
    background-color: #4e0361;
    box-shadow: 0 0 14px 3px #4e0361;
}

.header .menu_right span {
    display: inline-block;
    margin-bottom: 25%;
    color: #fff;
}

.header .menu_right ul {
    line-height: 1;
    float: right;
    margin-top: 20%;
}

.header .menu_right ul li a:hover {
    text-decoration: none;
    color: #9900c1;
}

.header .menu_right ul li.socs_li {
    height: 20px;
    margin-top: 12px;
    padding-right: 14px;
}

.header .menu_right ul li.socs_li a {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    padding-right: 14px;
}

.header .menu_right ul li.inst a {
    background-image: url('../img/inst_icon.png');
    background-repeat: no-repeat;
    background-position: 80% center;
}

.header .menu_right ul li.inst a:hover {
    background-image: url('../img/inst_iconhover.png');
}

.header .menu_right ul li.vk a {
    background-image: url('../img/vk_icon.png');
    background-repeat: no-repeat;
    background-position: 80% center;
}

.header .menu_right ul li.vk a:hover {
    background-image: url('../img/vk_iconhover.png');
}

.header .menu_right ul li.fb a {
    background-image: url('../img/fb_icon.png');
    background-repeat: no-repeat;
    background-position: 80% center;
}

.header .menu_right ul li.fb a:hover {
    background-image: url('../img/fb_iconhover.png');
}

.header .menu_right ul li.rot_li {
    float: left;
    width: 110px;
    height: 80px;
    margin-top: 30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.header .menu_right ul li.first_li {
    margin-bottom: 32px;
}

.header .menu_right ul li a {
    color: #fff;
}

.header .m_r {
    padding-right: 0 !important;
}

.header .menu_right {
    position: relative;
    z-index: 8888;
    float: right;
    width: 50px;
    background-color: #000;
}

.header .menu_right a {
    float: right;
}

.header span {
    display: inline-block;
    margin-bottom: 20%;
    color: #fff;
}

.who_we {
    background-color: #fff;
}

.who_we .tiile_p h6.second_title {
    margin: 13% 0 0 40%;
}

.who_we .tiile_p h6 {
    font-size: 2em;
    margin: 23% 0 0 40%;
    text-transform: uppercase;
}

.who_we .tiile_p h6 b {
    color: #9900c1;
}

.who_we .practik p {
    font-size: 1em;
    padding: 3% 0 1% 5%;
}

.who_we .practik {
    margin-bottom: 3%;
}

.who_we .practik img {
    float: left;
}

video {
    position: fixed;
    z-index: -1;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

.wrap .sol {
    opacity: .7;
    background-color: #000;
}

.wrap .sol .sol_line {
    padding-left: 0;
}

.wrap .sol .sol_line img {
    float: left;
    width: 100%;
    margin-top: 7%;
}

.wrap .sol .contant {
    padding-left: 8%;
}

.wrap .sol .sol_ul {
    padding-right: 0;
}

.wrap .sol h3 b {
    font-size: 100%;
    text-transform: uppercase;
    color: #4e0361;
}

.wrap .sol h2 {
    color: #fff;
}

.wrap .sol h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
}

.wrap .sol ul {
    width: 100%;
    border: 2px solid #4e0361;
}

.wrap .sol ul {
    padding: 3% 3%;
    color: #fff;
}

.wrap .sol ul li {
    padding: 1%;
    color: #fff;
}

.wrap .sol ul li.bg_li {
    padding-left: 8%;
    background-image: url('../img/bg_li.png');
    background-repeat: no-repeat;
    background-position: 2% center;
}

.wrap .sol .contant ul.bg_c {
    background-color: #4e0361;
}

.wrap .sol #button.last_bt {
    margin-bottom: 9%;
}

.wrap .sol #button {
    font-size: 1em;
    margin-top: 4%;
    padding: 1% 5%;
    text-align: center;
    color: #fff;
    border-style: solid;
    border-color: #4e0361;
    border-radius: 25px;
    background: none;
    box-shadow: none;
}

.wrap .sol #button:hover {
    background-color: #4e0361;
    box-shadow: 0 0 14px 3px #4e0361;
}

.wrap .sol .contant .line_right img {
    position: absolute;
    left: -1%;
    float: left;
    height: auto;
    margin-top: 28%;
}

.wrap .form_back h2 {
    margin-top: 3%;
    color: #fff;
}

.wrap .form_back {
    text-align: center;
    background-color: #47005b;
    background-image: url('../img/bg_form.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-background-size: cover;
    background-size: cover;
}

.wrap .form_back span {
    display: inline-block;
    margin-bottom: 10%;
    color: #fff;
}

.wrap .form_back form {
    margin: 5% 0 1%;
    text-align: center;
    color: #fff;
}

.wrap .form_back form input {
    margin-right: 3%;
    margin-bottom: 3%;
    padding-left: 2%;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
}

.wrap .form_back form select {
    display: inline-block;
    margin-top: 5%;
    margin-right: 3%;
    padding-left: 5%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.wrap .form_back form select option {
    color: #000;
    background-color: transparent;
}

.wrap .form_back #button {
    font-size: 1em;
    margin-top: 4%;
    padding: 1% 5%;
    text-align: center;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    border-radius: 25px;
    background: none;
}

.wrap .form_back #button:hover {
    color: #4e0361;
    background-color: #fff;
    box-shadow: 0 0 14px 3px #fff;
}

.wrap .map {
    height: 500px;
}

.wrap .map .map_cont {
    padding: 0 !important;
}

.wrap .map iframe {
    width: 100%;
    height: 500px;
}

.wrap .map .form_m {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 30%;
    opacity: .7;
    background-color: #000;
}

.wrap .map .form_m p {
    float: left;
    margin-left: 10%;
    color: #fff;
}

.wrap .map .form_m h4 {
    font-size: 1.5em;
    padding: 6% 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.wrap .map .form_m h5 {
    font-size: 1.3em;
    padding: 5% 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.wrap .map .form_m a img {
    margin-bottom: 3%;
    margin-left: 30%;
}

.wrap .map .form_m form input.t_input {
    width: 60%;
    margin: 3% 20%;
    padding-left: 2%;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
}

.wrap .map .form_m form input#button {
    font-size: 1em;
    width: 60%;
    margin: 5% 20% 15%;
    padding: 1% 5%;
    color: #fff;
    border: 1px solid #9900c1;
    border-radius: 25px;
    background: #9900c1;
}

.wrap .map .form_m form input#button:hover {
    background-color: #4e0361;
    box-shadow: 0 0 14px 3px #4e0361;
}

.wrap .footer a button {
    font-size: 1em;
    font-weight: bold;
    margin: 1.2% 0;
    padding: 1% 5%;
    text-align: center;
    color: #fff;
    border: #9900c1;
    border-radius: 25px;
    background: #9900c1;
}

.feedback {
    z-index: 9999;
    display: none;
    width: 100%;
    height: 400px;
}



.feedback h2 {
    margin-bottom: 2%;
    text-align: center;
    color: #fff
}

.feedback span {
    margin-bottom: 2%;
    text-align: center;
    color: #fff
}

.feedback input {
    color: #000;
    margin-bottom: 5%;
}

.feedback .name {
    margin-left: 0;
    width: 90%;
    height: 36px;
    border: 1px solid #D7D5D5;
    border-radius: 6px;
    background-color: #fff;
    text-indent: 20px;
    font-size: 12px;
    font-family: OpenSans-Regular
}

.feedback .phon {
    width: 90%;
    height: 36px;
    border: 1px solid #D7D5D5;
    border-radius: 6px;
    background-color: #fff;
    text-indent: 20px;
    font-size: 12px;
    font-family: OpenSans-Regular
}

.feedback .f_but {
    width: 90%;
    height: 36px;
    border: 1px solid #D7D5D5;
    border-radius: 6px;
    background-color: #9900C1;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: OpenSans-Regular;
    line-height: 1.1;
    cursor: pointer
}
