@media screen and (min-width: 1200px) {
    .wrap .map .form_m {
        width: 30%;
    }
    .wrap .map .form_m h4 {
        padding: 1% 0;
    }
    .wrap .map .form_m form input#button {
        margin: 5% 20% 5%;
    }
    .wrap .map .form_m p {
        margin-left: 10%;
    }
    .wrap .map .form_m a img {
        margin-left: 30%;
    }
}
